@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@import '../../node_modules/preline/variants.css';
@source '../../node_modules/preline/dist/*.js';
@import '../../node_modules/preline/css/themes/theme.css';
@import '../../node_modules/preline/css/themes/ocean.css';
@import '@fontsource-variable/geist';

@custom-variant dark (&:is(.dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
}

@layer base {
    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }

    body {
        @apply bg-background text-foreground;
    }

    html {
        @apply font-sans;
    }
}
